.mi-tabla {
  width: 66.67%; /* 2/3 de la anchura total de la pantalla */
  margin: 0 auto; /* centrar la tabla horizontalmente */
}

#map {
  width: 66.67%; /* 2/3 de la anchura total de la pantalla */
  height: 400px; /* altura del mapa */
  margin: 0 auto; /* centrar el mapa horizontalmente */
}
table img {
  width: 100px;
  height: 100px;
}

table tr td:first-child {
  width: 60px; /* ancho fijo para la columna de imágenes */
  text-align: center;
}

table td {
  padding: 2px;
}

@media (max-width: 768px) {
  table {
    width: 100%; /* ajustar la anchura de la tabla a la pantalla en dispositivos móviles */
  }
}
